maven2=0.8
Docker_Build=0.8
Docker_Push=0.8
command_line=0.8
gradle_build=0.8
kotlinFileScript=0.8
kotlin_Build=0.8
Net_build=0.8
nodejs_runner=0.8
python_build_script=0.8
python_build_file_script=0.8
Gradle=0.8
Ant=0.1
Docker=0.8
dotnet=0.8
Command_Line=0.8
Kotlin_Script=0.8
Docker_Compose=0.1
dotCover=0.1
Duplicates_finder_Java=0.1
FTP_Upload=0.1
FxCop=0.1
Inspections_IntelliJ_IDEA=0.1
ReSharper=0.1
JPS=0.1
mspec=0.1
NAnt=0.1
jb_nuget_installer=0.1
jb_nuget_pack=0.1
jb_nuget_publish=0.1
NUnit=0.1
jetbrains_powershell=0.1
python_runner=0.8
Qodana=0.1
rake_runner=0.1
SBT_SCALA=0.1
smb_deploy_runner=0.1
ssh_exec_runner=0.1
ssh_upload_deploy_runner=0.1
print_secrets=0.1
SetSecretsInGitHub=0.1
dump_files=0.1
gradle-build=0.8
EchoStep=0.1
CommandLineStep=0.1
PowerShell=0.1
gradle-runner=0.8
simpleRunner=0.1
DockerCommand=0.8
DockerCompose=0.1
ftp-deploy-runner=0.1
